
<!DOCTYPE HTML>
<html>
<head>
  <title>Friend Friend</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/style/style.css" title="style" />
</head>

<body>
  <div id="main">
    {{>header}}
    <div id="site_content">
      {{>sidebar}}
      <div id="content">
        <!-- insert the page content here -->
        {{#if userData}}
        <h1><form method="post" action="/{{actionPageValue}}/{{userData._id}}"><input type="submit"
         name="SentRequest" id="SentRequest" value="{{friendButtonValue}}"></form></h1>
         <table>
          <tr>
            <td><img src="/data/DP/{{userData.DisplayPhoto}}" width="200px" height="150px"></td>
            <td><table>
              <tr><td>{{userData.FirstName}} {{userData.LastName}}</td></tr>
              <tr><td>Joined on</td></tr>
              <tr><td>{{userData.DOJ}}</td></tr>
            </table></td>
          </tr>
         </table>
         {{else}}
         <p>{{errMsg}}</p>
         {{/if}}
        
          
      </div>
    </div>
    <div id="footer">
      Copyright &copy; black_pink_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | from <a href="http://www.html5webtemplates.co.uk">free HTML5 templates</a>
    </div>
  </div>
</body>
</html>
